@import url('./assets/fonts/Gopher-Bold.ttf');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --azul: #223049;
    --crema: #b0a494;
    --crema-darker: #a49886;
    --blanco: #efeae6;
    --negro: #222223;
    --swiper-navigation-color: var(--blanco);
    --gris: #f4f4f3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Gopher-Bold', sans-serif;
    font-size: 15px;
}

body {
    background: white;
}

.separador {
    width: auto;
    height: 10vh;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.navbar {
    height: 70px;
    width: 100%;
    background-color: var(--negro);
    flex-direction: row;
    align-items: center;
    opacity: 0.8;
}

.navbar__list {
    height: 100%;
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar__list__item--pointer {
    cursor: pointer;
}

.logo-container {
    position: absolute;
    display: flex;
    background-color: var(--negro);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    align-items: center;
    justify-content: center;
}

.logo-container__image {
    width: 63px;
    height: 100px;
}

.main {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 150px;
    right: 100px;
    width: 250px;
    height: 200px;
    background-color: rgba(15, 25, 34, 0.6);
    color: white;
}

.reserva {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--negro);
    width: 100%;
    height: 20px;
}

.fecha {
    background-color: var(--azul);
    opacity: 0.8;
}

.hero {
    width: 100%;
}

.hero__video {
    width: 100%;
    height: auto;
}

.section-info {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 60vh;
}

.info {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.info div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.info div p {
    margin-top: 4vh;
    font-size: 20px;
    text-align: center;
}

.info ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

.info ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 3vh;
    margin-left: 3vh;
}

.info div h1 {
    font-size: 30px;
    font-weight: 800;
}

.info ul li span {
    font-size: 18px;
}

.info ul li img {
    width: 60px;
    height: 60px;
    margin-top: 1vh;
}

.section-habitaciones {
    width: 100%;
    height: 1000px;
    background-color: var(--crema);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.room-intro {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.room-intro__title {
    font-weight: 800;
    font-size: 30px;
    color: white;
}

.room-intro__info {
    margin-top: 2vh;
    font-size: 20px;
    text-align: center;
    width: 50%;
    color: white;
}

.card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 4em;
}

.room-card {
    height: 500px;
    width: 380px;
    background-color: var(--crema-darker);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.room-card__imagen {
    width: 90%;
    height: 40%;
}

.room-card__cont {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.room-card__title {
    font-size: 25px;
    color: #3a3a3a;
    margin-top: 40px;
    color: white;
}

.room-card__texto {
    font-size: 18px;
    margin-top: 40px;
    color: white;
    text-align: center;
}

.location {
    width: 100%;
    height: 820px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.texto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

.texto {
    font-size: 30px;
    font-weight: 800;
    color: black;
    text-align: center;
}

.map {
    width: 100%;
    height: 600px;
}

footer {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--negro);
    color: white;
}

.footer-section_1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 15vh;
}

.footer-section_1 h3 {
    color: white;
}

.footer-navigation {
    display: flex;
    flex-direction: row;
    margin-bottom: 1vh;
}

.footer-navigation a {
    text-decoration: none;
    color: white;
}

.d {
    margin-left: 1vh;
    margin-right: 1vh;
}

.footer-section_2 {
    width: 50%;
}

.footer-section_2 ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.footer-section_2 ul li {
    margin-top: 1.2vh;
    display: flex;
    align-items: center;
}

.footer-section_2 ul li span {
    margin-left: 2vh;
}

.footer-section_2 ul li svg {
    fill: white;
    width: 20px;
    height: 20px;
}

.bm-form-row {
    background: #273038;
    text-transform: uppercase;
    width: 100%;
    padding: 0.3em 0.3em 0.5em;
    border: 1px solid #273038;
    -webkit-transition: border-color 300ms ease;
    -o-transition: border-color 300ms ease;
    transition: border-color 300ms ease;
    opacity: 0.75;
}

.bm-box--vertical .bm-form-row {
    align-items: flex-end;
    margin-bottom: 0.5em;
}

.bm-form-row {
    display: flex;
    flex-wrap: wrap;

}

.btn {
    border-radius: 0;
    font-weight: 500;
    font-size: 1.4rem;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;

    line-height: 1.8rem;
    border: none;
    min-width: 190px;
}

.btn-block {
    display: block;
    width: 100%;
}

.bm-form-row .bm-form-col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    width: 100%;
    margin-right: 8px;
}

.bm-date-card {
    background: #273038;
    text-transform: uppercase;
    width: 100%;
    padding: 0.3em 0.3em 0.5em;
    border: 1px solid #111211;
    -webkit-transition: border-color 300ms ease;
    -o-transition: border-color 300ms ease;
    transition: border-color 300ms ease;
}

.bm-date-card-day {
    font-size: 3.5em;
    line-height: 1;
}

.btn.btn-action {
    background-color: #9f6b3d;
    color: #fff;
}

.swiper {
    width: 60%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1000px) {

    .navbar__list li {
        font-size: 13px;
    }

    .logo-container {
        width: 80px;
        height: 80px;
    }

    .logo-container__image {
        width: 38px;
        height: 60px;
    }

    .section-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info {
        width: 100%;
    }

    .info div {
        text-align: center;
    }

    .info ul li {
        text-align: center;
    }

    .separador {
        height: 5vh;
    }

    .swiper {
        margin-top: 5vh;
        width: 100%;
    }

    .room-intro__info {
        width: 80%;
    }

    .card-container {
        flex-direction: column;
    }

    .section-habitaciones {
        height: auto;
    }

    .room-card {
        margin-top: 5vh;
    }

    .room-intro {
        margin-top: 5vh;
    }

    .info ul {
        margin-top: 5vh;
    }

    footer {
        display: flex;
        flex-direction: column;
        height: auto;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .footer-section_1 {
        margin: 0 0 3vh 0;
        width: 80%;
    }

    .footer-section_2 {
        width: 80%;
    }

    .footer-navigation {
        width: auto;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .modal {
        visibility: hidden;
    }
}