@import url('../assets/fonts/Gopher-Bold.ttf');
:root {
    --azul: #223049;
    --crema: rgb(176, 164, 148);
    --blanco: #efeae6;
    --negro: rgb(34, 34, 35);
    --swiper-navigation-color: var(--blanco);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gopher-Bold', sans-serif;
    font-size: 15px;
}
body {
    background: white;
}
.separador {
    width: auto;
    height: 10vh;
}
.separador-crema {
    width: auto;
    height: 10vh;
    background-color: var(--crema);
}
.separador-azul {
    width: auto;
    height: 10vh;
    background-color: var(--azul);
}
.separador-horizontal-blanco {
    background-color: white;
    width: 30%;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 100;
}
.nav {
    height: 70px;
    width: 100%;
    background-color: var(--negro);
    flex-direction: row;
    align-items: center;
    opacity: 0.8;
}
.nav-links {
    height: 100%;
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-links li {
    cursor: pointer;
}
.center {
    position: absolute;
    display: flex;
    background-color: var(--negro);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    align-items: center;
    justify-content: center;
}
.center img {
    width: 63px;
    height: 100px;
}
main {
    height: auto;
    width: 100%;
}
.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 150px;
    right: 100px;
    width: 250px;
    height: 200px;
    background-color: rgba(15, 25, 34, 0.6);
    color: white;
}
.reserva {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--negro);
    width: 100%;
    height: 20px;
}
.fecha {
    background-color: var(--azul);
    opacity: 0.8;
}
main {
    display: flex;
    flex-direction: column;
}
main section video {
    width: 100%;
    height: auto;
}
.section-info {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 60vh;
}
.info {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.info h1 {
    font-weight: 800;
}
.info div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.info div p {
    margin-top: 4vh;
    font-size: 20px;
    text-align: center;
}
.info ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}
.info ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 3vh;
    margin-left: 3vh;
}
.info div h1 {
    font-size: 30px;
}
.info ul li span {
    font-size: 18px;
}
.info ul li img {
    width: 60px;
    height: 60px;
    margin-top: 1vh;
}
.section-habitaciones {
    width: 100%;
    height: 600px;
    background-color: var(--crema);
    display: flex;
    flex-direction: row;
}
.section-habitaciones-1{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-habitacion {
    width: 500px;
    height: 400px;
    background-color: var(--blanco);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
}
.card-habitacion img {
    width: 100%;
    height: 80%;
    border-radius: 10px 10px 0 0;
}
.habitacion-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20%;
}
.habitacion-info ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.habitacion-info ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.habitacion-info ul li span {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 5px;
    font-weight: 900;
    color: var(--crema);
}
.habitacion-info ul li img {
    width: 30px;
    height: 30px;
}
.map {
    width: 100%;
    height: 100%;
}
footer {
    width: 100%;
    height: 350px;
    background-color: var(--azul);
    display: flex;
    flex-direction: row;
}

.footer-section-1 {
    width: 30%;
    color: var(--blanco);
    height: 100%;
    padding-left: 30vh;
    padding-top: 5vh;
}

.footer-section-1 h2 {
    font-size: 20px;
    margin-bottom: 50px;
}

.footer-section-1 ul {
    list-style: none;
}

.footer-section-1 ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

.footer-section-1 ul li span {
    margin-left: 5px;
}

.footer-section-1 ul li svg{
    fill: var(--blanco);
    width: 20px;
    height: 20px;
}

.footer-section-2 {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-section-2 ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-section-2 ul li svg {
    width: 40px;
    height: 40px;
}

.footer-section-3 {
    width: 40%;
}

.bm-form-row {
    background: #273038;
    text-transform: uppercase;
    width: 100%;
    padding: 0.3em 0.3em 0.5em;
    border: 1px solid #273038;
    -webkit-transition: border-color 300ms ease;
    -o-transition: border-color 300ms ease;
    transition: border-color 300ms ease;
    opacity: 0.75;
}
.bm-box--vertical .bm-form-row {
    align-items: flex-end;
    margin-bottom: 0.5em;
}
.bm-form-row {
    display: flex;
    flex-wrap: wrap;

}
.btn {
    border-radius: 0;
    font-weight: 500;
    font-size: 1.4rem;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;

    line-height: 1.8rem;
    border: none;
    min-width: 190px;
}
.btn-block {
    display: block;
    width: 100%;
}
.bm-form-row .bm-form-col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    width: 100%;
    margin-right: 8px;
}
.bm-date-card {
    background: #273038;
    text-transform: uppercase;
    width: 100%;
    padding: 0.3em 0.3em 0.5em;
    border: 1px solid #111211;
    -webkit-transition: border-color 300ms ease;
    -o-transition: border-color 300ms ease;
    transition: border-color 300ms ease;
}
.bm-date-card-day {
    font-size: 3.5em;
    line-height: 1;
}
.btn.btn-action {
    background-color: #9f6b3d;
    color: #fff;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}